*{
margin: 0;
padding: 0;
}
div{
	height: 100px;
	width: 100px;
	background: gray;
	font-size: 15px;
	margin-bottom: 15px;
	text-align: center; 
}
.caja{
position: absolute;
left: 200px;
bottom: 0px;
right: 0px;
top: 100px;
}
.caja_padre{
	width: 500px;
	height: 500px;
	background: orange;
	position: relative;
}
